:root {
    --arbuznaya-korka: #1C9C08;
    --prosloyka-mezhdu-korkoy-i-myakotu: #C0FE7C;
    --arbuznie-poloski: #226018;
    --myakot-arbuza-yarkaya: #FE121D;
    --myakot-arbuza-srednyaya: #B6383C;
    --myakot-arbuza-temnaya: #5D1B1B;
    --belyi: #FFFFFF;
    --chernyi: #000000;
    --arbuz-sgnil: #B2B426;
}