:root {
    --razmer-v-cherdake-no-naoborot: 16px;
    --razmer-ZAGOLOWKA-1: 120px;
    --razmer-ZAGOLOWKA-2: 90px;
    --razmer-ZAGOLOWKA-regular: 32px;
    --dlya-knopok-SVerxy: 28px; 
    --prosto-bookwi: 21px;
    --shrift-bookw: Arial, sans-serif;
}